section#box1{
	-webkit-perspective: 1600px;
	-moz-perspective: 1600px;
	-ms-perspective: 1600px;
	-o-perspective: 1600px;
	perspective: 1600px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	display: block;
	position: relative;
	left: 50%;
	width: 600px;
	/*height: 460px; con Billboards*/
	height: 400px;
	margin: 0px 0px 0px -350px;
}

div#box {
	-webkit-transform: rotate3d(1,0,0,-40deg);
	-moz-transform: rotate3d(1,0,0,-40deg);
	-o-transform: rotate3d(1,0,0,-40deg);
	transform: rotate3d(1,0,0,-40deg);
	-ms-transform: rotate3d(1,0,0,-40deg);
	cursor: move;
	position: relative;
	margin-top: -177px;
	margin-left: -125px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 355px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-ms-transform-style: none;
}
#box div {
	margin-top: -177px;
	margin-left: -117px;
	position: absolute;
	display: block;
	overflow: hidden;
	top: 50%;
	left: 50%;
	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-o-transform-style: flat;
	-ms-transform-style: flat;
	transform-style: flat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-o-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
}

#front{
	background-image: url("../images/box3/front.jpg");
	background-repeat: no-repeat;
}
#back{
	background-image: url("../images/box3/back.jpg");
	background-repeat: no-repeat;
}
#front, #back{
	width:325px;
	height: 512px;
	background-size: 100%;
	-webkit-transform: translate3d(0px, 0px, 69px);
	-moz-transform: translate3d(0px, 0px, 69px);
	-o-transform: translate3d(0px, 0px, 69px);
	transform: translate3d(0px, 0px, 69px);
	-ms-transform: rotate3d(1,0,0,-40deg) translate3d(0px, 0px, 69px);
}
#back{
	-webkit-transform: rotateY(180deg) translate3d(0px, 0px, 69px);
	-moz-transform: rotateY(180deg) translate3d(0px, 0px, 69px);
	-o-transform: rotateY(180deg) translate3d(0px, 0px, 69px);
	transform: rotateY(180deg) translate3d(0px, 0px, 69px);
	-ms-transform: rotate3d(1,0,0,-40deg) rotateY(180deg) translate3d(0px, 0px, 69px);
}
#left{
	background-image: url("../images/box3/left.jpg");
	background-repeat: no-repeat;
}
#right{
	background-image: url("../images/box3/left.jpg");
	background-repeat: no-repeat;
}
#left, #right{
	width: 139px;
	height: 512px;
	background-size: 100%;
	-webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 69px);
	-moz-transform: rotateY(-90deg) translate3d(0px, 0px, 69px);
	-o-transform: rotateY(-90deg) translate3d(0px, 0px, 69px);
	transform: rotateY(-90deg) translate3d(0px, 0px, 69px);
	-ms-transform: rotate3d(1,0,0,-40deg) rotateY(-90deg) translate3d(0px, 0px, 69px);
}
#right{
	-webkit-transform: rotateY(90deg) translate3d(0px, 0px, 256px);
	-moz-transform: rotateY(90deg) translate3d(0px, 0px, 256px);
	-o-transform: rotateY(90deg) translate3d(0px, 0px, 256px);
	transform: rotateY(90deg) translate3d(0px, 0px, 256px);
	-ms-transform: rotate3d(1,0,0,-40deg) rotateY(90deg) translate3d(0px, 0px, 256px);
}


@media (max-width: 620px){
	section#box1 {
	    height:400px;
	    margin: 0px 0px 0px -305px;
	}
	#front, #back {
	    height: 400px;
	    width: 254px;
	    -webkit-transform: translate3d(0px, 0px, 54px);
	    -moz-transform: translate3d(0px, 0px, 54px);
	    -o-transform: translate3d(0px, 0px, 54px);
	    -ms-transform: translate3d(0px, 0px, 54px);
	    transform: translate3d(0px, 0px, 54px);
	}
	#back {
		-webkit-transform: rotateY(180deg) translate3d(0px, 0px, 54px);
		-moz-transform: rotateY(180deg) translate3d(0px, 0px, 54px);
		-o-transform: rotateY(180deg) translate3d(0px, 0px, 54px);
		-ms-transform: rotateY(180deg) translate3d(0px, 0px, 54px);
		transform: rotateY(180deg) translate3d(0px, 0px, 54px);
	}
	#left, #right {
	    height: 400px;
	    width: 108.5px;
	    -webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 54px);
	    -moz-transform: rotateY(-90deg) translate3d(0px, 0px, 54px);
	    -o-transform: rotateY(-90deg) translate3d(0px, 0px, 54px);
	    -ms-transform: rotateY(-90deg) translate3d(0px, 0px, 54px);
	    transform: rotateY(-90deg) translate3d(0px, 0px, 54px);
	}
	#right {
    	-webkit-transform: rotateY(90deg) translate3d(0px, 0px, 200px);
    	-moz-transform: rotateY(90deg) translate3d(0px, 0px, 200px);
    	-o-transform: rotateY(90deg) translate3d(0px, 0px, 200px);
    	-ms-transform: rotateY(90deg) translate3d(0px, 0px, 200px);
    	transform: rotateY(90deg) translate3d(0px, 0px, 200px);
	}
	#top, #bottom {
	    width: 254px;
	    height: 108.5;
	    -webkit-transform: rotateX(90deg) translate3d(0px, 0px, 54px);
	    -moz-transform: rotateX(90deg) translate3d(0px, 0px, 54px);
	    -o-transform: rotateX(90deg) translate3d(0px, 0px, 54px);
	    -ms-transform: rotateX(90deg) translate3d(0px, 0px, 54px);
	    transform: rotateX(90deg) translate3d(0px, 0px, 54px);
	}
	#bottom {
		-webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 346px);
		-moz-transform: rotateX(-90deg) translate3d(0px, 0px, 346px);
		-o-transform: rotateX(-90deg) translate3d(0px, 0px, 346px);
		-ms-transform: rotateX(-90deg) translate3d(0px, 0px, 346px);
		transform: rotateX(-90deg) translate3d(0px, 0px, 346px);
	}
}
@media (max-width: 420px){
	section#box1 {
	    /*height: 400px; Con billboards  */
	    height: 400px;
	    margin: 0px 0px 0px -285px;
	}
	#front, #back {
	    height: 315px;
		width: 200px;
	    -webkit-transform: translate3d(0px, 0px, 43px);
	    -moz-transform: translate3d(0px, 0px, 43px);
	    -o-transform: translate3d(0px, 0px, 43px);
	    -ms-transform: translate3d(0px, 0px, 43px);
	    transform: translate3d(0px, 0px, 43px);
	}
	#back {
		-webkit-transform: rotateY(180deg) translate3d(0px, 0px, 43px);
		-moz-transform: rotateY(180deg) translate3d(0px, 0px, 43px);
		-o-transform: rotateY(180deg) translate3d(0px, 0px, 43px);
		-ms-transform: rotateY(180deg) translate3d(0px, 0px, 43px);
		transform: rotateY(180deg) translate3d(0px, 0px, 43px);
	}
	#left, #right {
	    height: 315px;
		width: 86px;
	    -webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 43px);
	    -moz-transform: rotateY(-90deg) translate3d(0px, 0px, 43px);
	    -o-transform: rotateY(-90deg) translate3d(0px, 0px, 43px);
	    -ms-transform: rotateY(-90deg) translate3d(0px, 0px, 43px);
	    transform: rotateY(-90deg) translate3d(0px, 0px, 43px);
	}
	#right {
    	-webkit-transform: rotateY(90deg) translate3d(0px, 0px, 157px);
    	-moz-transform: rotateY(90deg) translate3d(0px, 0px, 157px);
    	-o-transform: rotateY(90deg) translate3d(0px, 0px, 157px);
    	-ms-transform: rotateY(90deg) translate3d(0px, 0px, 157px);
    	transform: rotateY(90deg) translate3d(0px, 0px, 157px);
	}
	#top, #bottom {
	    width: 200px;
		height: 86px;
	    -webkit-transform: rotateX(90deg) translate3d(0px, 0px, 43px);
	    -moz-transform: rotateX(90deg) translate3d(0px, 0px, 43px);
	    -o-transform: rotateX(90deg) translate3d(0px, 0px, 43px);
	    -ms-transform: rotateX(90deg) translate3d(0px, 0px, 43px);
	    transform: rotateX(90deg) translate3d(0px, 0px, 43px);
	}
	#bottom {
		-webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 273px);
		-moz-transform: rotateX(-90deg) translate3d(0px, 0px, 273px);
		-o-transform: rotateX(-90deg) translate3d(0px, 0px, 273px);
		-ms-transform: rotateX(-90deg) translate3d(0px, 0px, 273px);
		transform: rotateX(-90deg) translate3d(0px, 0px, 273px);
	}
}