div#box {
	-webkit-transform: rotate3d(1,0,0,-40deg);
	-moz-transform: rotate3d(1,0,0,-40deg);
	-ms-transform: rotate3d(1,0,0,-40deg);
	-o-transform: rotate3d(1,0,0,-40deg);
	transform: rotate3d(1,0,0,-40deg);
	cursor: move;
	position: relative;
	margin-top: -177px;
	margin-left: -125px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 355px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#box div {
	margin-top: -177px;
	margin-left: -117px;
	position: absolute;
	display: block;
	overflow: hidden;
	top: 50%;
	left: 50%;
	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-o-transform-style: flat;
	transform-style: flat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-o-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
}


section#viewport{
	-webkit-perspective: 700px;
	-moz-perspective: 700px;
	-ms-perspective: 700px;
	-o-perspective: 700px;
	perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	display: block;
	position: relative;
	left: 50%;
	width: 600px;
	height: 600px;
	margin: 20px 0px 0px -300px;
	-webkit-box-reflect: below -80px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(#ffffff));

}

#front{
	background: url("../images/front.jpg") no-repeat;
}
#back{
	background: url("../images/back.jpg") no-repeat;
}
#front, #back{
	width:250px;
	height: 394px;
	background-size: 100%;
	-webkit-transform: translate3d(0px, 0px, 37px);
}
#back{
	-webkit-transform: rotateY(180deg) translate3d(0px, 0px, 37px);
}
#top{
	background: url("../images/top.jpg") no-repeat;
}
#bottom{
	background: url("../images/bottom.jpg") no-repeat;
}
#top, #bottom{
	width:250px;
	height: 74px;
	background-size: 100%;
	-webkit-transform: rotateX(90deg) translate3d(0px, 0px, 37px);
}
#bottom{
	-webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 357px);
}
#left{
	background: url("../images/left.jpg") no-repeat;
}
#right{
	background: url("../images/right.jpg") no-repeat;
}
#left, #right{
	width: 74px;
	height: 394px;
	background-size: 100%;
	-webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 37px);
}
#right{
	-webkit-transform: rotateY(90deg) translate3d(0px, 0px, 213px);
}